# Dependências
node_modules/

# Configurações de ambiente
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Banco de dados local (caso use SQLite em algum momento)
*.sqlite
*.sqlite3

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.swp

# Cache do sistema
.cache/
dist/
build/
