<h2>Editando Tarefa</h2>

<form action="/tasks/edit" method="post" id="editForm">
  <input type="hidden" name="id" value="{{task.id}}">

  <h3><label>Título:</label></h3>
  <input class="edit" type="text" name="title" value="{{task.title}}" required><br>

  <h3><label>Descrição:</label></h3>
  <input class="edit" type="text" name="description" value="{{task.description}}"><br>

  <h3><label>Prioridade:</label></h3>
  <select name="priority" required>
    <option value="Baixa" {{#if (eq task.priority "Baixa")}}selected{{/if}}>Baixa</option>
    <option value="Média" {{#if (eq task.priority "Média")}}selected{{/if}}>Média</option>
    <option value="Alta" {{#if (eq task.priority "Alta")}}selected{{/if}}>Alta</option>
  </select><br><br>

  <h3><label>Data de Conclusão:</label></h3>
  <input type="date" name="dueDate" value="{{task.dueDate}}" required><br><br>

  <h3><label>Status:</label></h3>
  <label>
    <input type="checkbox" name="done" {{#if task.done}}checked{{/if}}> Concluída
  </label><br><br>

  <button type="submit">Salvar Alterações</button>
</form>
